@font-face {
    font-family: "Trintel";
    src: url("#{resource['fonts/Trintel.ttf']}");
}

* {
    font-family: "Trintel", serif;
    text-align: center;
    font-size: 1.05em;
    text-shadow: 1px 2px 2px black;
    color:#27281e;
}

aside{
    padding: 0px;
    float: left;
}


.header{
    text-align: center;
    font-size: 0.9em;
    top: 0;
}

.footer{
    font-size: 2em;
    bottom: 0;
}

.header, .footer{
    width: 100%;
    position: fixed;
    color:#27281e;
    background-color: #656d44;
    left: 0;
}


body {
    cursor: url("https://images.app.goo.gl/HqPBZjEqR9J2MRox8"), auto;
    background: url("#{resource['img/tank_bg.jpg']}") no-repeat;
    background-size: 100%;
    padding-top: 9%;
    padding-bottom: 10%;
}

main{
    background-color: #e0e2db;
    top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    bottom: 5%;
}
.container{
    text-align: center;

}


#credit > a {
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: #27281e;
}

#resultTable td, .radio td{
    border-right: 1px solid #27281e;
    font-size: 2em;
}

#resultTable td, #resultTable th, .radio_btn td, .radio_btn th{
    text-align: center;
    padding: 8px;
}


.flying{
    position: fixed;
    bottom: 50%;
    right: 1%;
}

input[type=text]{
    background-color: #27281e;
    color: #e0e2db;
    padding: 0;
    width: 140px;
    height: 30px;
    box-sizing: border-box;
    border-collapse: collapse;
    border-radius:6px;
    text-align: center;
    font-size: 2em;
    cursor: text;
}

.radio {
    margin-left: 40%;
}

.radio input[type=radio]{
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}

.choicebox{
    margin-left: 40%;
}

#points thead tbody{
    border-right: 1px solid #27281e;
    font-size: 2em;

}


.form{
    background-color: #656d44;
    width: 30%;
    height: 50%;
    margin-left:35%;
    padding-top: 1%;
    padding-bottom: 1%;
}


#resultTable{
    margin-left: 35%;
    margin-right: 35%;

}